.feedback {
    position: relative;
    overflow: hidden;
    transform: translateY(1px);
}

.feedback-content {
    display: flex;



    @media(max-width: 690px) {
        flex-direction: column;
    }
}

.feedback-col {
    position: relative;
    max-width: 960px;
    width: 100%;
}

.feedback-background {
    position: relative;
    z-index: -10;
}
.content-order{
    @media(max-width: 690px) {
        margin: 0 auto;
    }
}
.content-contacts{
    @media(min-width: 1340px) {
        transform: translateX(100px);
    }
}

.content {
    position: relative;
        z-index: 3;
    width: $maxWidthContainer/3.5;

    @media(max-width: 900px) {
        width: $maxWidthContainer/4;
    }

    @media(max-width: 850px) {
        width: $maxWidthContainer/4.5;
    }

    @media(max-width: 550px) {
        width: $maxWidthContainer/2;
    }

    @media(max-width: 360px) {
        width: $maxWidthContainer/4.5;
    }

    height: 550px;
    display: flex;

    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    text-align: start;
    background-position: center;
    background-repeat: no-repeat;
}
.background{
    height: 550px;
    width: 100%;
    position: absolute;
    display: flex;
    @media(max-width: 690px) {
       flex-direction: column;
       height:100%;
    }
}

.background-3{
    background-image: url(../img/feedback-1.jpg);
    background-position: center;

    @media(min-width: 950px) {
        display: none;
    }
    @media(max-width: 690px) {
        display: none;
    }

    width: 100%;
    background-repeat: no-repeat;

}
.background-1 {
    background-image: url(../img/feedback-1.jpg);
    background-position: center;

    @media(max-width: 950px) {
        display: none;
        background-image: none;
        transform: translateY(1px);
    }
    height: 550px;
    width: 50%;


    position: relative;

    @media(max-width: 690px) {
        display: block;
        width: 100%;
        background-image: url(../img/feedback-1.jpg);
        transform: translateY(1px);
    }
}

.background-2 {
    background-image: url(../img/feedback-2.jpg);
    background-position: center;
    height: 550px;

    z-index: 2;
    @media(max-width: 950px) {
        display: none;
        background-image: none;
    }
    width: 50%;
    @media(max-width: 690px) {
        display: block;
        width: 100%;
        background-image: url(../img/feedback-2.jpg);
    }
}

.feedback-title {
    margin-bottom: 55px;
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 900;
    font-size: 30px;
    line-height: 38px;
    letter-spacing: 0.035em;
    color: #FFFFFF;
}

.order-service-input {
    background: none;
    padding: 10px 0;
    width: 242px;
    font-family: 'Source Sans Pro';
    font-weight: 400;
    font-size: 14px;
    outline: none;
    line-height: 18px;
    border: none;
    border-radius: 0;
    position: relative;
    overflow: hidden;
    letter-spacing: 0.035em;
    border-bottom: 1px solid #fff;
    color: #fff; 
    -webkit-appearance: none;

    &::placeholder {
        color: #ffffffa4;
        opacity: 1;
    }


    &:not(:last-child) {
        margin-bottom: 35px;
    }
}

.order-service-btn {
    width: 238.67px;
    height: 52px;
    left: 275px;
    top: 4729.57px;
    background: #B71833;
    border: none;
    font-family: 'Source Sans Pro';
    font-weight: 700;
    font-size: 18px;
    line-height: 23px;
    cursor: pointer;
    letter-spacing: 0.01em;
    color: #FFFFFF;
    transition: all 0.3s ease 0s;

    &:hover {
        color: #B71833;
        background: #fff;
    }
}

.contacts-item__icon {
    margin-right: 35px;
}

.contacts-item {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    max-width: 343px;
    margin-bottom: 35px;
    white-space: wrap;

    .contacts-item__title {
        &:hover {
            text-decoration: underline;
        }
    }

    &__title {
        font-family: 'Source Sans Pro';
        font-weight: 700;
        font-size: 17px;
        line-height: 21px;
        letter-spacing: 0.035em;
        width: 100%;
        color: #FFFFFF;
    }

    &__subtitle {
        font-family: 'Source Sans Pro';
        font-style: normal;
        font-weight: 300;
        font-size: 15px;
        opacity: 0.7;
        line-height: 141.2%;
        letter-spacing: 0.035em;
        color: #FFFFFF;
    }
}