$maxWidthContainer: 1350px;
$md1: 1024px;
$md2: 768px;
$md3: 425px;

@import "fonts";

.wrapper {
    min-width: 100%;
    display: flex;
    margin: 0 auto;
    min-height: 100%;

    flex-direction: column;
    max-width: $maxWidthContainer;
}

* {
    list-style-type: none;
    list-style: none;
    text-decoration: none;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background: linear-gradient(90deg, #FFFFFF 0%, #FFFFFF 56.88%, rgba(255, 255, 255, 0) 100%);
    list-style-type: none;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;

}

.header {
    margin-top: 50px;
}

.container {
    max-width: $maxWidthContainer;
    margin: 0 auto;
    overflow: hidden;
}

// header (начало)
// .header__container
.header-nav {}

.nav {}

.nav-list {}

.list {
    display: flex;
    justify-content: flex-end;
    // .list__item

    &__item {

        &:not(:last-child) {
            margin: 0px 70px 0px 0px;
        }

    }
}

.item {
    font-family: Source Sans Pro;
    font-size: 17px;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: 0.066em;
    display: flex;
    align-items: center;
}

.item-icon {
    margin: 0px 8px 0px 0px;
}

.item-link {}

.link {}

//
.burger {
    position: absolute;
    top: 0;
    left: 0;
    background: #3C3C3C;
    max-width: 350px;

    &-content {
        padding: 60px 41px;
    }
}

.burger-title {
    font-family: 'Source Sans Pro';
    color: #fff;
    font-weight: 900;
    font-size: 30px;
    letter-spacing: 0.030em;
    line-height: 38px; 
    text-transform: uppercase;
    margin-bottom: 36px;
}

.burger-list {
    margin-bottom: 51px;
}

.blist {}

.blist-item {}

.burger-text {
    font-family: 'Source Sans Pro';
    font-weight: 500;
    font-size: 18px;
    line-height: 20px;
    letter-spacing: 0.01em;

    &:not(:last-child) {
        margin-bottom: 38px;
    }

    color: #FFFFFF;
}

.--active {
    font-weight: 700;
}

.feedback-btn {
    border: 2px solid #fff;
    background: none;
    color: #fff;
    padding: 20px 48px;
    font-family: 'Source Sans Pro';
    font-weight: 700;
    font-size: 18px;
    line-height: 23px;
    letter-spacing: 0.01em;

    color: #FFFFFF;

}


// header (конец)
